.checkbox {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;


&__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

&__input:checked + &__icon {
    border: none;
    background-color: var(--accent-color);
  }

&__icon {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: -1;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
  }

&__label {
    position: relative;
    padding-left: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);

    @media screen and (max-width: 1199px){
      font-size: 12px;
      font-weight: 1.16;
      
    }
  }

 
}
