.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/hero/hero-mobile@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-bcg-color);

  @media screen and (max-width: 480px) { 
    width: 100%;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-mobile@1x.jpg);

    @media (min-device-pixel-ratio:2),
    (min-resolution:192dpi),
    (min-resolution:2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-mobile@2x.jpg);
      
    }
    
  }
  @media screen and (min-width:480px) and (max-width: 1199px) {
      width: 100%;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-tablet@1x.jpg);
      padding-top: 118px;
      padding-bottom: 118px;

      @media (min-device-pixel-ratio:2),
      (min-resolution:192dpi),
      (min-resolution:2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tablet@2x.jpg);
        
    }
  }

    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/Hero.jpg);
        padding-top: 200px;
        padding-bottom: 200px;

        
      @media (min-device-pixel-ratio:2),
      (min-resolution:192dpi),
      (min-resolution:2dppx) {
        background-image:  linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero/hero@2x.jpg);
      }
      }



  &__title {
    margin-bottom: 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    @media screen and (max-width: 1200px) {
      font-size: 26px;
      line-height: 1.61;
      
    }
  }
  &__button {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: 1px solid transparent;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms var(--timing-function);

    @media screen and (max-width: 767px) {
      padding: 10px 24px;
    }
  }
  &__button:hover,
  &__button:focus {
    background-color: var(--button-bcg-color);
  }
}
