.portfolio {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  
// &__item {

// }

&__item:last-child {
  margin-right: 0;
}

&__button--active {
  padding: 6px 25px;
  color: var(--secondary-text-color);
  background-color:var(--accent-color);
} 

&__button--active:hover,
&__button--active:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

&__button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color:var(--secondary-accent-color);
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

&__button:hover,
&__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

}
