:root {
    --border-card:#eeeeee;
    --primary-text-color: #757575;
    --social-color:#afb1b8;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --button-bcg-color:#188ce8;
    --secondary-accent-color: #f5f4fa;
    --white-color: #ffffff;
    --address-accent-color: rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --secondary-bcg-color: #2f303a;
    --background-color: #f5f5f5;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  $accent-color: #2196f3;